@{
    ViewData["Title"] = "Home Page";
}

<h2 class="text-center text-danger">Car Hire Management</h2>

<div class="container" style="margin-top: 4rem;">
    <div class="row">
        <a class="btn btn-primary" asp-area="" asp-controller="Vehicles" asp-action="Add" style="height: 40px; width: 16%;" >Add vehicle</a>
    </div>
</div>