@{
    ViewData["Title"] = "Home Page";
}

<h2 class="text-center text-danger">Car Hire Management</h2>

<div class="container" style="margin-top: 4rem;">
    <div class="row">
        <div class="col" style="height: 40px;">
            <a class="btn btn-primary" asp-controller="Home" asp-action="Add" >Add vehicle</a>
        </div>
        <div class="col" style="height: 40px;">
            <a class="btn btn-primary" asp-controller="Home" asp-action="EditAll" >Edit vehicles</a>
        </div>
        <div class="col" style="height: 40px;">
            <a class="btn btn-primary" asp-controller="Comment" asp-action="Index">Delete comment</a>
        </div>
        <div class="col" style="height: 40px;">
            <a class="btn btn-primary" asp-controller="Category" asp-action="Add">Add new category</a>
        </div>
        <div class="col" style="height: 40px;">
            <a class="btn btn-primary" asp-controller="Category" asp-action="Index">Edit category</a>
        </div>
        
    </div>
    <hr />
    <div class="row col-sm-7">
        <div class="col" style="height: 40px;">
            <a class="btn btn-primary" asp-controller="Discount" asp-action="Add">Add discount</a>
        </div>
        <div class="col" style="height: 40px;">
            <a class="btn btn-primary" asp-controller="Discount" asp-action="Index">Edit discount</a>
        </div>
        <div class="col" style="height: 40px;">
            <a class="btn btn-primary" asp-controller="Discount" asp-action="AllVehicles">Add discount to vehicle</a>
        </div>
    </div>
</div>