@model IEnumerable<CategoryHomeModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@foreach (var cat in Model)
{
    <div class="text-center">
        <a class="display-7" asp-controller="Home" asp-action="Vehicles" asp-route-category="@cat.Name">@cat.Name</a>
    </div>
}
