@model IEnumerable<CategoryHomeModel>

@{
    ViewData["Title"] = "Home Page";
}

<h2 class="text-center text-info">Vehicle Categories</h2>
<hr />

<div class="row" style="margin-left: 2%; width: 100%; ">
        @foreach (var cat in Model)
        {
            <div class="col">
                <a class="btn btn-primary" asp-controller="Vehicles" asp-action="ByCategory" asp-route-categoryId="@cat.CategoryId" style="height: 40px; width: 80%;">@cat.Name</a>
            </div>
        }
</div>
<div class="container image" ></div>

@section Scripts {
    <style>
       div.image {
           background-image: url('https://traveltomerida.com/wp-content/uploads/2021/07/Merida-Car-Rental-Header.jpg');
           background-size: cover;
           background-position: center;
           margin-top: 1rem;
           margin-left: 0rem;
           width: 100%;
           height: 30rem;
       }​
    </style>
}