@model IEnumerable<VehicleHomeModel>

@{
    ViewData["Title"] = "Vehicles by category";
}

<div class="container">
    <div class="row justify-content-center">
        @foreach (var item in Model!)
        {
            <div class="col-lg-6 position-relative mb-5">
                <a class="btn btn-primary position-absolute position-absolute top-50 start-50 translate-middle" 
                asp-controller="Vehicles" asp-action="Rent" asp-route-id="@item.Id">Rent</a>
                <img class="card-img-top img-thumbnail" src="@item.ImageUrl" alt="Vehicle Image">
            </div>
        }
    </div>
</div>