@model IEnumerable<VehicleHomeModel>

@{
    ViewData["Title"] = "Vehicles by category";
}

<div class="container">
    <div class="row justify-content-center align-items-start">
        @foreach (var item in Model!)
        {
            <div class="col-lg-6 position-relative mb-5">
                <a class="btn btn-primary position-absolute top-0 start-0"
               asp-controller="Rent" asp-action="Index" asp-route-id="@item.Id" style="width: 75px">Rent</a>
                <a class="btn btn-primary position-absolute bottom-0 start-0"
               asp-controller="Vehicles" asp-action="Details" asp-route-id="@item.Id">Details</a>
                <img class="card-img-top img-thumbnail" src="@item.ImageUrl" alt="Vehicle Image">
            </div>
        }
    </div>
</div>