@model VehicleHomeModel

@{
    ViewData["Title"] = "My Vehicle";
}

<div class="container">
    <div class="row">
        <h3>Car Id</h3>
        <div class="row justify-content-end">
            <span class="badge badge-black" style="color: black">@Model.Id</span>
        </div>
    </div>
</div>